<%- include('../partials/head.ejs') %>
<body>
<div class="mt-4 p-5 bg-warning text-white rounded">
    <h1><%= title %></h1>
    </div>
    <div class="container">
<form action="/edit/<%= data.id %>" method="POST" style="border: 3px solid black; padding:5px;">
    <div class="form-group">
        <label for="topic">Topic:</label>
        <input type="text" id="topic" name="topic" value=<%= data.topic %>>
    </div>
    <div class="form-group form-check">
        <label for="mandatory">Mandatory</label>
        <input type="checkbox" class="form-control form-check-input" id="mandatory" name="mandatory">
    </div>
    <div class="form-group">
        <label for="datetime">Date and Time:</label>
        <textarea id="datetime" name="datetime"><%= data.dateTime %></textarea>
    </div>
    <div class="form-group">
        <label for="location">Location:</label>
        <textarea id="location" name="location"><%= data.location %></textarea>
    </div>
    <div class="form-group">
        <label for="parking">Parking:</label>
        <textarea id="parking" name="parking"><%= data.parking %></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</div>
</body>
